In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ratings = pd.read_csv('data/ratings.dat', sep='::',
                      names=['user_id', 'movie_id', 'rating', 'rating_timestamp'],engine="python"
                      ).sort_values("rating_timestamp") # sort by datetime
ratings.describe()

             user_id      movie_id         rating  rating_timestamp
count  888452.000000  8.884520e+05  888452.000000      8.884520e+05
mean    34879.738435  2.187479e+06       7.316825      1.459300e+09
std     20100.224164  2.025072e+06       1.853552      6.902560e+07
min         1.000000  8.000000e+00       0.000000      1.362062e+09
25%     17775.000000  7.654430e+05       6.000000      1.396187e+09
50%     34764.500000  1.714206e+06       8.000000      1.450370e+09
75%     51869.000000  2.883512e+06       9.000000      1.513955e+09
max     69324.000000  1.292071e+07      10.000000      1.600911e+09

In [3]:
movies = pd.read_csv('data/movies.dat', sep='::',
                      names=['movie_id','movie_title_year','genres'],engine="python"
                      ).sort_values("movie_title_year") # sort by movie title
movies.describe()
movies.head(10)

,movie_id,movie_title_year,genres
3975,68152,$ (1971),Comedy|Crime|Drama
11124,212555,$30 (1999),Comedy|Short
16621,1024733,$5 a Day (2008),Comedy|Drama
22588,2106284,$50K and a Call Girl: A Love Story (2014),Action|Adventure|Comedy|Drama|Romance
23431,2258233,$ellebrity (2012),Documentary
23837,2332503,&amp;Me (2013),Romance
25147,2614684,'71 (2014),Action|Drama|Thriller|War
5807,85127,'A' gai wak (1983),Action|Comedy
6642,92501,'A' gai wak 2 (1987),Action|Comedy|Crime
5259,80310,'Breaker' Morant (1980),Drama|History|War

In [4]:
print('''Join the ratings with movies''')
movie_ratings = (ratings
                  .set_index("movie_id")
                  .join(movies.set_index("movie_id"),
                        how="left")
                 )

movie_ratings['rating_year'] = movie_ratings['rating_timestamp'].apply(lambda ts: pd.to_datetime(ts, unit='s').year)
movie_ratings.head(5)

Join the ratings with movies

,user_id,rating,rating_timestamp,movie_title_year,genres,rating_year
movie_id,,,,,,
8,41985,5,1396981211,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,2014
10,69122,10,1412878553,La sortie des usines Lumière (1895),Documentary|Short,2014
12,68097,10,1439248579,The Arrival of a Train (1896),Documentary|Short,2015
25,36818,8,1488189899,The Oxford and Cambridge University Boat Race ...,NaN,2017
91,5692,6,1385233195,Le manoir du diable (1896),Short|Horror,2013

In [5]:
movie_ratings['rating_year'].describe()

count    890064.000000
mean       2015.773470
std           2.213189
min        2013.000000
25%        2014.000000
50%        2015.000000
75%        2017.000000
max        2020.000000
Name: rating_year, dtype: float64

In [6]:
print('''Separate the genres string into individual category indicators through get_dummies()''')

categories = movie_ratings['genres'].str.get_dummies()
categories.head(5)

tidy_movie_ratings = (pd.concat([movie_ratings, categories], axis=1)
                       .drop(["rating_timestamp"], axis=1)
                )

tidy_movie_ratings["production_year"] = tidy_movie_ratings["movie_title_year"].str[-5:-1]
tidy_movie_ratings["movie_title"] = tidy_movie_ratings["movie_title_year"].str[:-7]

tidy_movie_ratings=tidy_movie_ratings.drop(["movie_title_year"], axis=1)

tidy_movie_ratings.reset_index(inplace=True)

tidy_movie_ratings.head(2)

Separate the genres string into individual category indicators through get_dummies()

,movie_id,user_id,rating,genres,rating_year,Action,Adult,Adventure,Animation,Biography,...,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,production_year,movie_title
0,8,41985,5,Documentary|Short,2014,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1894,Edison Kinetoscopic Record of a Sneeze
1,10,69122,10,Documentary|Short,2014,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1895,La sortie des usines Lumière

In [7]:
print('''Add a weighted popularity column for movie, which uses the following factors:
1. # of ratings 6 or higher; 2. Year of production: higher (weak) weight to recent year if available; 
3. Year of rating; recent year get higher rating  
Formula: popularity = (rating-5)*10 + (130-year_production)/5 + (mean(year_rating-2013))*9''')

#tidy_movie_ratings["popularity"]
tidy_movie_ratings.groupby("movie_id").sum().head(5)
tidy_movie_ratings['movie_id'][tidy_movie_ratings['rating']>5].value_counts()

Add a weighted popularity column for movie, which uses the following factors:
1. # of ratings 6 or higher; 2. Year of production: higher (weak) weight to recent year if available;
3. Year of rating; recent year get higher rating
Formula: popularity = (rating-5)*10 + (130-year_production)/5 + (mean(year_rating-2013))*9

1454468     2938
816692      2769
8579674     2734
993846      2724
7286456     2644
            ...
2563562        1
3456414        1
1312137        1
220514         1
11558924       1
Name: movie_id, Length: 31148, dtype: int64

In [8]:
# Calculate aggregtes so we can calculate combined rating as described above
grouped_ratings=tidy_movie_ratings.groupby(
   ['movie_id']).agg(
    {
        'rating': lambda x: (x>5).sum()/10,    # conditional count
         'rating_year': lambda x: ((x-2013).mean()*8),  # recent year gets bigger value
         'production_year': lambda x: (x.astype(int)-1800).mean()/30  # really small weight
    })

grouped_ratings['combinedRating'] = grouped_ratings['rating']+grouped_ratings['rating_year']+grouped_ratings['production_year']
grouped_ratings.sort_values('combinedRating',ascending=False).head(5)

          rating  rating_year  production_year  combinedRating
movie_id
8579674    273.4    56.000000         7.300000      336.700000
7286456    264.4    48.962801         7.300000      320.662801
1454468    293.8     5.029014         7.100000      305.929014
816692     276.9    18.352781         7.133333      302.386114
993846     272.4    11.309271         7.100000      290.809271

In [9]:
grouped_ratings.describe(include='all')

             rating   rating_year  production_year  combinedRating
count  36380.000000  36380.000000     36380.000000    36380.000000
mean       2.092809     22.135042         6.678555       30.906407
std       10.430799     15.765317         0.702539       19.061504
min        0.000000      0.000000         2.600000        3.366667
25%        0.100000      8.000000         6.433333       16.066667
50%        0.200000     19.636364         7.000000       28.390326
75%        0.600000     32.000000         7.166667       41.100000
max      293.800000     56.000000         7.366667      336.700000

In [10]:
cols_to_add = tidy_movie_ratings.columns.difference(grouped_ratings.columns)
grouped_ratings_merged =  pd.merge(grouped_ratings, tidy_movie_ratings, 
                     left_index = True, 
                     right_on = 'movie_id', 
                     how='left',
                     suffixes=(None,"_y")).sort_values('combinedRating',ascending=False).drop_duplicates(subset=['movie_id'])

genre_column_names=movie_ratings['genres'].str.get_dummies().columns

grouped_ratings_merged.head(5)

,rating,rating_year,production_year,combinedRating,movie_id,user_id,rating_y,genres,rating_year_y,Action,...,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,production_year_y,movie_title
877692,273.4,56.000000,7.300000,336.700000,8579674,42014,9,Drama|War,2020,0,...,0,0,0,0,0,0,1,0,2019,1917
858090,264.4,48.962801,7.300000,320.662801,7286456,10605,8,Crime|Drama|Thriller,2019,0,...,0,0,0,0,0,1,0,0,2019,Joker
371863,293.8,5.029014,7.100000,305.929014,1454468,33294,8,Drama|Sci-Fi|Thriller,2013,0,...,0,1,0,0,0,1,0,0,2013,Gravity
236588,276.9,18.352781,7.133333,302.386114,816692,59922,9,Adventure|Drama|Sci-Fi,2014,0,...,0,1,0,0,0,0,0,0,2014,Interstellar
263509,272.4,11.309271,7.100000,290.809271,993846,22210,8,Biography|Crime|Drama,2014,0,...,0,0,0,0,0,0,0,0,2013,The Wolf of Wall Street

In [11]:
# Generate global recommendation chart:
# movie title, year of release, Genres,  Popularity Score (proprietary score)
global_chart=grouped_ratings_merged[["movie_title","production_year","genres", "combinedRating"]].head(10)
print(global_chart)
global_chart.to_csv('charts/global_ratings.csv',index=False)
#grouped_ratings_merged.columns

                    movie_title  production_year  \
877692                     1917         7.300000
858090                    Joker         7.300000
371863                  Gravity         7.100000
236588             Interstellar         7.133333
263509  The Wolf of Wall Street         7.100000
222862             Man of Steel         7.100000
577561                Gone Girl         7.133333
846948             Gisaengchung         7.300000
326660           Iron Man Three         7.100000
239710              World War Z         7.100000

                                         genres  combinedRating
877692                                Drama|War      336.700000
858090                     Crime|Drama|Thriller      320.662801
371863                    Drama|Sci-Fi|Thriller      305.929014
236588                   Adventure|Drama|Sci-Fi      302.386114
263509                    Biography|Crime|Drama      290.809271
222862                  Action|Adventure|Sci-Fi      248.304478
577561                   Drama|Mystery|Thriller      238.706405
846948                                    Drama      233.928635
326660                  Action|Adventure|Sci-Fi      233.280066
239710  Action|Adventure|Horror|Sci-Fi|Thriller      230.990928

In [12]:
# Generate global chart for each genre
for genre in genre_column_names:
    genre_chart=grouped_ratings_merged[grouped_ratings_merged[genre]>0][["movie_title","production_year","genres", "combinedRating"]].head(10)
    print(genre_chart)
    genre_chart.to_csv('charts/'+genre+'.csv',index=False)

                       movie_title  production_year  \
222862                Man of Steel         7.100000
326660              Iron Man Three         7.100000
239710                 World War Z         7.100000
427754                The Revenant         7.166667
364701                    Deadpool         7.200000
350583          Mad Max: Fury Road         7.166667
796836                     Dunkirk         7.233333
760620           Avengers: Endgame         7.300000
487524  X-Men: Days of Future Past         7.133333
357310     Star Trek Into Darkness         7.100000

                                          genres  combinedRating
222862                   Action|Adventure|Sci-Fi      248.304478
326660                   Action|Adventure|Sci-Fi      233.280066
239710   Action|Adventure|Horror|Sci-Fi|Thriller      230.990928
427754  Action|Adventure|Biography|Drama|Western      224.797413
364701            Action|Adventure|Comedy|Sci-Fi      206.634754
350583          Action|Adventure|Sci-Fi|Thriller      203.657458
796836         Action|Drama|History|Thriller|War      202.875033
760620           Action|Adventure|Fantasy|Sci-Fi      193.400000
487524          Action|Adventure|Sci-Fi|Thriller      189.082451
357310                   Action|Adventure|Sci-Fi      189.058386
                                    movie_title  production_year  \
33154               Black Emanuelle en Amérique         5.900000
27511                                     Score         5.800000
129380                            Sexy Delights         6.200000
118444                      'n schot in de roos         6.100000
126453                        Ardeurs perverses         6.100000
115524  The Private Pleasures of John C. Holmes         6.100000
405577                              L.A. Zombie         7.000000
130644                           Yoshiwara enjo         6.233333
38811       Le notti erotiche dei morti viventi         6.000000
38581                                 Malabimba         5.966667

                     genres  combinedRating
33154   Adult|Drama|Mystery       46.000000
27511    Comedy|Drama|Adult       37.800000
129380                Adult       30.300000
118444                Adult       30.200000
126453          Drama|Adult       30.200000
115524                Adult       22.200000
405577         Adult|Horror       15.100000
130644                Adult       14.333333
38811          Horror|Adult       14.000000
38581          Adult|Horror       13.966667
                       movie_title  production_year  \
236588                Interstellar         7.133333
222862                Man of Steel         7.100000
326660              Iron Man Three         7.100000
239710                 World War Z         7.100000
427754                The Revenant         7.166667
364701                    Deadpool         7.200000
350583          Mad Max: Fury Road         7.166667
760620           Avengers: Endgame         7.300000
487524  X-Men: Days of Future Past         7.133333
357310     Star Trek Into Darkness         7.100000

                                          genres  combinedRating
236588                    Adventure|Drama|Sci-Fi      302.386114
222862                   Action|Adventure|Sci-Fi      248.304478
326660                   Action|Adventure|Sci-Fi      233.280066
239710   Action|Adventure|Horror|Sci-Fi|Thriller      230.990928
427754  Action|Adventure|Biography|Drama|Western      224.797413
364701            Action|Adventure|Comedy|Sci-Fi      206.634754
350583          Action|Adventure|Sci-Fi|Thriller      203.657458
760620           Action|Adventure|Fantasy|Sci-Fi      193.400000
487524          Action|Adventure|Sci-Fi|Thriller      189.082451
357310                   Action|Adventure|Sci-Fi      189.058386
                              movie_title  production_year  \
514673                        Toy Story 4         7.300000
542598                         Inside Out         7.166667
586013                             Frozen         7.100000
673228                           Zootopia         7.200000
606234                               Coco         7.233333
780481  Spider-Man: Into the Spider-Verse         7.266667
439031                    Despicable Me 2         7.100000
573014                         Big Hero 6         7.133333
383779                     The Lego Movie         7.133333
369924                Monsters University         7.100000

                                                   genres  combinedRating
514673          Animation|Adventure|Comedy|Family|Fantasy      171.332215
542598    Animation|Adventure|Comedy|Drama|Family|Fantasy      135.089317
586013  Animation|Adventure|Comedy|Family|Fantasy|Musical      131.653247
673228    Animation|Adventure|Comedy|Crime|Family|Mystery      128.788595
606234  Animation|Adventure|Comedy|Family|Fantasy|Musi...      126.884553
780481           Animation|Action|Adventure|Family|Sci-Fi      116.210871
439031   Animation|Adventure|Comedy|Family|Fantasy|Sci-Fi      112.883516
573014    Animation|Action|Adventure|Comedy|Family|Sci-Fi      107.124942
383779   Animation|Action|Adventure|Comedy|Family|Fantasy      107.013167
369924          Animation|Adventure|Comedy|Family|Fantasy       99.162194
                    movie_title  production_year  \
263509  The Wolf of Wall Street         7.100000
392838         Captain Phillips         7.100000
427754             The Revenant         7.166667
538295       The Imitation Game         7.133333
550057            Hacksaw Ridge         7.200000
528891         12 Years a Slave         7.100000
512695                     Rush         7.100000
229385       Dallas Buyers Club         7.100000
502186           Ford v Ferrari         7.300000
327928             The Irishman         7.300000

                                          genres  combinedRating
263509                     Biography|Crime|Drama      290.809271
392838                  Biography|Drama|Thriller      224.896296
427754  Action|Adventure|Biography|Drama|Western      224.797413
538295              Biography|Drama|Thriller|War      222.542753
550057               Biography|Drama|History|War      202.286792
528891                   Biography|Drama|History      199.045840
512695              Action|Biography|Drama|Sport      185.551724
229385                           Biography|Drama      182.305033
502186              Action|Biography|Drama|Sport      171.923428
327928    Biography|Crime|Drama|History|Thriller      155.491351
                             movie_title  production_year  \
364701                          Deadpool         7.200000
855208  Once Upon a Time ...in Hollywood         7.300000
740220                        La La Land         7.200000
580841          The Grand Budapest Hotel         7.133333
882492                        Knives Out         7.300000
524064           Guardians of the Galaxy         7.133333
514673                       Toy Story 4         7.300000
659358      Kingsman: The Secret Service         7.133333
271537           Silver Linings Playbook         7.066667
636092                           Birdman         7.133333

                                           genres  combinedRating
364701             Action|Adventure|Comedy|Sci-Fi      206.634754
855208                               Comedy|Drama      199.154859
740220         Comedy|Drama|Music|Musical|Romance      194.925488
580841               Adventure|Comedy|Crime|Drama      188.676272
882492        Comedy|Crime|Drama|Mystery|Thriller      181.235178
524064             Action|Adventure|Comedy|Sci-Fi      179.575015
514673  Animation|Adventure|Comedy|Family|Fantasy      171.332215
659358           Action|Adventure|Comedy|Thriller      169.096788
271537                       Comedy|Drama|Romance      160.614236
636092                               Comedy|Drama      158.960259
                     movie_title  production_year  \
858090                     Joker         7.300000
263509   The Wolf of Wall Street         7.100000
432263            Now You See Me         7.100000
352764                 Prisoners         7.100000
762780             Don't Breathe         7.200000
580841  The Grand Budapest Hotel         7.133333
465111           American Hustle         7.100000
874597             The Gentlemen         7.300000
882492                Knives Out         7.300000
713925         The Hateful Eight         7.166667

                                      genres  combinedRating
858090                  Crime|Drama|Thriller      320.662801
263509                 Biography|Crime|Drama      290.809271
432263                Crime|Mystery|Thriller      228.064646
352764          Crime|Drama|Mystery|Thriller      224.475640
762780                 Crime|Horror|Thriller      195.496513
580841          Adventure|Comedy|Crime|Drama      188.676272
465111                           Crime|Drama      188.579570
874597                          Action|Crime      184.600000
882492   Comedy|Crime|Drama|Mystery|Thriller      181.235178
713925  Crime|Drama|Mystery|Thriller|Western      180.632985
                                         movie_title  production_year  \
889224                                Miss Americana         7.333333
889440                            The Social Dilemma         7.333333
886537                                      For Sama         7.300000
889655                            Beastie Boys Story         7.333333
890028                         Anelka: Misunderstood         7.333333
883512                                     Honeyland         7.300000
885905                         In Search of Darkness         7.300000
889875                                     Athlete A         7.333333
889962  Have a Good Trip: Adventures in Psychedelics         7.333333
885286                              American Factory         7.300000

                    genres  combinedRating
889224         Documentary       69.633333
889440   Documentary|Drama       68.133333
886537         Documentary       65.403704
889655         Documentary       64.933333
890028   Documentary|Sport       64.833333
883512   Documentary|Drama       64.638095
885905  Documentary|Horror       64.300000
889875   Documentary|Crime       64.233333
889962         Documentary       64.133333
885286         Documentary       64.085714
                    movie_title  production_year  \
877692                     1917         7.300000
858090                    Joker         7.300000
371863                  Gravity         7.100000
236588             Interstellar         7.133333
263509  The Wolf of Wall Street         7.100000
577561                Gone Girl         7.133333
846948             Gisaengchung         7.300000
392838         Captain Phillips         7.100000
427754             The Revenant         7.166667
352764                Prisoners         7.100000

                                          genres  combinedRating
877692                                 Drama|War      336.700000
858090                      Crime|Drama|Thriller      320.662801
371863                     Drama|Sci-Fi|Thriller      305.929014
236588                    Adventure|Drama|Sci-Fi      302.386114
263509                     Biography|Crime|Drama      290.809271
577561                    Drama|Mystery|Thriller      238.706405
846948                                     Drama      233.928635
392838                  Biography|Drama|Thriller      224.896296
427754  Action|Adventure|Biography|Drama|Western      224.797413
352764              Crime|Drama|Mystery|Thriller      224.475640
                                    movie_title  production_year  \
514673                              Toy Story 4         7.300000
542598                               Inside Out         7.166667
586013                                   Frozen         7.100000
673228                                 Zootopia         7.200000
606234                                     Coco         7.233333
693010  Fantastic Beasts and Where to Find Them         7.200000
780481        Spider-Man: Into the Spider-Verse         7.266667
631759                                   Wonder         7.233333
439031                          Despicable Me 2         7.100000
682110                          The Jungle Book         7.200000

                                                   genres  combinedRating
514673          Animation|Adventure|Comedy|Family|Fantasy      171.332215
542598    Animation|Adventure|Comedy|Drama|Family|Fantasy      135.089317
586013  Animation|Adventure|Comedy|Family|Fantasy|Musical      131.653247
673228    Animation|Adventure|Comedy|Crime|Family|Mystery      128.788595
606234  Animation|Adventure|Comedy|Family|Fantasy|Musi...      126.884553
693010                           Adventure|Family|Fantasy      121.010235
780481           Animation|Action|Adventure|Family|Sci-Fi      116.210871
631759                                       Drama|Family      114.842918
439031   Animation|Adventure|Comedy|Family|Fantasy|Sci-Fi      112.883516
682110                     Adventure|Drama|Family|Fantasy      111.673072
                                       movie_title  production_year  \
760620                           Avengers: Endgame         7.300000
625574  Star Wars: Episode VII - The Force Awakens         7.166667
288630         The Hobbit: The Desolation of Smaug         7.100000
514673                                 Toy Story 4         7.300000
299775                              Doctor Strange         7.200000
675509          Batman v Superman: Dawn of Justice         7.200000
517444                        Thor: The Dark World         7.100000
346408                               Suicide Squad         7.200000
198472                                Wonder Woman         7.233333
718617                              Thor: Ragnarok         7.233333

                                           genres  combinedRating
760620            Action|Adventure|Fantasy|Sci-Fi      193.400000
625574            Action|Adventure|Fantasy|Sci-Fi      176.855045
288630                          Adventure|Fantasy      172.607921
514673  Animation|Adventure|Comedy|Family|Fantasy      171.332215
299775            Action|Adventure|Fantasy|Sci-Fi      163.390476
675509            Action|Adventure|Fantasy|Sci-Fi      162.127366
517444                   Action|Adventure|Fantasy      160.933748
346408            Action|Adventure|Fantasy|Sci-Fi      150.146629
198472        Action|Adventure|Fantasy|Sci-Fi|War      147.754321
718617     Action|Adventure|Comedy|Fantasy|Sci-Fi      139.821683
                     movie_title  production_year  \
9361                 Naked Alibi         5.133333
10777                The Burglar         5.233333
6579     The Street with No Name         4.933333
9324             Highway Dragnet         5.133333
7130            Guilty Bystander         5.000000
6720   The File on Thelma Jordon         4.966667
2049                Black Legion         4.566667
2226        The Petrified Forest         4.533333
6830                Rope of Sand         4.966667
13276         Murder by Contract         5.266667

                                 genres  combinedRating
9361     Crime|Drama|Film-Noir|Thriller       61.233333
10777          Drama|Film-Noir|Thriller       61.233333
6579     Crime|Drama|Film-Noir|Thriller       61.133333
9324              Crime|Drama|Film-Noir       61.133333
7130              Crime|Drama|Film-Noir       61.100000
6720      Crime|Drama|Film-Noir|Mystery       61.066667
2049              Crime|Drama|Film-Noir       60.566667
2226   Drama|Film-Noir|Romance|Thriller       58.166667
6830                Adventure|Film-Noir       57.166667
13276             Crime|Drama|Film-Noir       53.366667
                movie_title  production_year                         genres  \
704182  The Lost Generation              7.1  Game-Show|Reality-TV|Thriller

        combinedRating
704182            15.1
                   movie_title  production_year  \
796836                 Dunkirk         7.233333
550057           Hacksaw Ridge         7.200000
528891        12 Years a Slave         7.100000
327928            The Irishman         7.300000
406705           The Big Short         7.166667
730782         Bridge of Spies         7.166667
776922            Darkest Hour         7.233333
788444          Hidden Figures         7.200000
355354  Straight Outta Compton         7.166667
302363               First Man         7.266667

                                        genres  combinedRating
796836       Action|Drama|History|Thriller|War      202.875033
550057             Biography|Drama|History|War      202.286792
528891                 Biography|Drama|History      199.045840
327928  Biography|Crime|Drama|History|Thriller      155.491351
406705          Biography|Comedy|Drama|History      129.035193
730782                  Drama|History|Thriller      127.241163
776922             Biography|Drama|History|War      105.531653
788444                 Biography|Drama|History      103.564099
355354           Biography|Drama|History|Music       94.071734
302363                 Biography|Drama|History       91.733333
                movie_title  production_year  \
239710          World War Z         7.100000
762780        Don't Breathe         7.200000
374537        The Conjuring         7.100000
801104              Get Out         7.233333
794138                Split         7.200000
843772        A Quiet Place         7.266667
353746                   It         7.233333
653309             Bird Box         7.266667
291176  10 Cloverfield Lane         7.200000
273331    The Invisible Man         7.333333

                                         genres  combinedRating
239710  Action|Adventure|Horror|Sci-Fi|Thriller      230.990928
762780                    Crime|Horror|Thriller      195.496513
374537                  Horror|Mystery|Thriller      165.136175
801104                  Horror|Mystery|Thriller      156.687664
794138                          Horror|Thriller      151.175042
843772                      Drama|Horror|Sci-Fi      144.399531
353746                          Horror|Thriller      140.816034
653309                      Drama|Horror|Sci-Fi      133.161749
291176     Drama|Horror|Mystery|Sci-Fi|Thriller      105.590244
273331                   Horror|Sci-Fi|Thriller      103.033333
                   movie_title  production_year  \
640266                Whiplash         7.133333
740220              La La Land         7.200000
747349             Baby Driver         7.233333
852787              Green Book         7.266667
449021       Bohemian Rhapsody         7.266667
606234                    Coco         7.233333
388175          A Star Is Born         7.266667
355354  Straight Outta Compton         7.166667
139859             The Pianist         6.733333
516639             Begin Again         7.100000

                                                   genres  combinedRating
640266                                        Drama|Music      207.429246
740220                 Comedy|Drama|Music|Musical|Romance      194.925488
747349                  Action|Crime|Drama|Music|Thriller      173.007506
852787                       Biography|Comedy|Drama|Music      154.005882
449021                              Biography|Drama|Music      130.901470
606234  Animation|Adventure|Comedy|Family|Fantasy|Musi...      126.884553
388175                                Drama|Music|Romance      119.290196
355354                      Biography|Drama|History|Music       94.071734
139859                          Biography|Drama|Music|War       93.467097
516639                         Comedy|Drama|Music|Romance       88.983832
                         movie_title  production_year  \
740220                    La La Land         7.200000
586013                        Frozen         7.100000
381655          The Greatest Showman         7.233333

               movie_title  production_year  \
371863             Gravity         7.100000
236588        Interstellar         7.133333
222862        Man of Steel         7.100000
326660      Iron Man Three         7.100000
239710         World War Z         7.100000
364701            Deadpool         7.200000
350583  Mad Max: Fury Road         7.166667
462045                 Her         7.100000
760620   Avengers: Endgame         7.300000
630521             Arrival         7.200000

                                         genres  combinedRating
371863                    Drama|Sci-Fi|Thriller      305.929014
236588                   Adventure|Drama|Sci-Fi      302.386114
222862                  Action|Adventure|Sci-Fi      248.304478
326660                  Action|Adventure|Sci-Fi      233.280066
239710  Action|Adventure|Horror|Sci-Fi|Thriller      230.990928
364701           Action|Adventure|Comedy|Sci-Fi      206.634754
350583         Action|Adventure|Sci-Fi|Thriller      203.657458
462045                     Drama|Romance|Sci-Fi      196.840946
760620          Action|Adventure|Fantasy|Sci-Fi      193.400000
630521            Drama|Mystery|Sci-Fi|Thriller      192.588783
                       movie_title  production_year  \
849588  Is Sumiyati Going to Hell?         7.200000
849602        Predicament in Sight         7.233333
887898                     The Rat         7.300000
889670           What Did Jack Do?         7.233333
872259       The Neighbors' Window         7.300000
887666                    Jing Hua         7.300000
887576            Exchange Student         7.300000
887692                     Curtain         7.300000
883535                   27 Shaban         7.266667
889930            The Speed Cubers         7.333333

                            genres  combinedRating
849588                 Short|Drama       65.100000
849602                Short|Sci-Fi       64.033333
887898                 Short|Drama       64.000000
889670        Short|Comedy|Mystery       63.833333
872259                 Short|Drama       63.800000
887666             Animation|Short       63.700000
887576             Animation|Short       63.700000
887692                 Short|Drama       63.700000
883535  Short|Comedy|Drama|Romance       63.666667
889930           Documentary|Short       63.633333
           movie_title  production_year                        genres  \
512695            Rush         7.100000  Action|Biography|Drama|Sport
502186  Ford v Ferrari         7.300000  Action|Biography|Drama|Sport
685260           Creed         7.166667                   Drama|Sport
460901        Southpaw         7.166667                   Drama|Sport
818031        I, Tonya         7.233333  Biography|Comedy|Drama|Sport
466316        Unbroken         7.133333     Biography|Drama|Sport|War
839336        Creed II         7.266667                   Drama|Sport
802433          Dangal         7.200000  Action|Biography|Drama|Sport
323204         Warrior         7.033333                   Drama|Sport
280585      Foxcatcher         7.133333         Biography|Drama|Sport

        combinedRating
512695      185.551724
502186      171.923428
685260      124.405360
460901      115.951315
818031       97.210167
466316       85.631705
839336       81.349037
802433       77.581199
323204       73.345586
280585       73.094016
                                              movie_title  production_year  \
888288       Oprah Winfrey Presents: When They See Us Now         7.300000
887075            Oprah Winfrey Presents: After Neverland         7.300000
842398                                   Grillo vs Grillo         7.233333
148207  Frank Sinatra's Welcome Home Party for Elvis P...         5.333333

                  genres  combinedRating
888288         Talk-Show       63.600000
887075         Talk-Show       55.400000
842398  Comedy|Talk-Show       39.333333
148207   Music|Talk-Show       13.433333
               movie_title  production_year  \
858090               Joker         7.300000
371863             Gravity         7.100000
577561           Gone Girl         7.133333
239710         World War Z         7.100000
432263      Now You See Me         7.100000
392838    Captain Phillips         7.100000
352764           Prisoners         7.100000
538295  The Imitation Game         7.133333
350583  Mad Max: Fury Road         7.166667
796836             Dunkirk         7.233333

                                         genres  combinedRating
858090                     Crime|Drama|Thriller      320.662801
371863                    Drama|Sci-Fi|Thriller      305.929014
577561                   Drama|Mystery|Thriller      238.706405
239710  Action|Adventure|Horror|Sci-Fi|Thriller      230.990928
432263                   Crime|Mystery|Thriller      228.064646
392838                 Biography|Drama|Thriller      224.896296
352764             Crime|Drama|Mystery|Thriller      224.475640
538295             Biography|Drama|Thriller|War      222.542753
350583         Action|Adventure|Sci-Fi|Thriller      203.657458
796836        Action|Drama|History|Thriller|War      202.875033
                 movie_title  production_year  \
877692                  1917         7.300000
538295    The Imitation Game         7.133333
796836               Dunkirk         7.233333
550057         Hacksaw Ridge         7.200000
650275                  Fury         7.133333
642133           Jojo Rabbit         7.300000
198472          Wonder Woman         7.233333
559251       American Sniper         7.133333
279532         Lone Survivor         7.100000
165153  Inglourious Basterds         6.966667

                                     genres  combinedRating
877692                            Drama|War      336.700000
538295         Biography|Drama|Thriller|War      222.542753
796836    Action|Drama|History|Thriller|War      202.875033
550057          Biography|Drama|History|War      202.286792
650275                     Action|Drama|War      157.702521
642133                     Comedy|Drama|War      149.813080
198472  Action|Adventure|Fantasy|Sci-Fi|War      147.754321
559251           Action|Biography|Drama|War      141.952664
279532           Action|Biography|Drama|War      117.954064
165153                  Adventure|Drama|War      111.656766
                         movie_title  production_year  \
427754                  The Revenant         7.166667
478759              Django Unchained         7.066667
713925             The Hateful Eight         7.166667
638400            Hell or High Water         7.200000
297460             Rambo: Last Blood         7.300000
617643         The Magnificent Seven         7.200000
840352  The Ballad of Buster Scruggs         7.266667
298787               The Lone Ranger         7.100000
793686            Les frères Sisters         7.266667
76300                     Unforgiven         6.400000

                                              genres  combinedRating
427754      Action|Adventure|Biography|Drama|Western      224.797413
478759                                 Drama|Western      180.660784
713925          Crime|Drama|Mystery|Thriller|Western      180.632985
638400           Action|Crime|Drama|Thriller|Western      105.795302
297460             Action|Adventure|Thriller|Western       86.546269
617643                      Action|Adventure|Western       86.183394
840352  Comedy|Drama|Musical|Mystery|Romance|Western       79.902151
298787                      Action|Adventure|Western       79.148869
793686          Adventure|Comedy|Crime|Drama|Western       65.574129
76300                                  Drama|Western       65.178594

In [14]:
print('''The above concludes the generation of chart as per the project ask. Regarding If I had more time, what would I add ? 
1. A better rating formula which will would be validated through users feedback and refined
2. Join with other datasets that can help clarify rating
3. Add images for each selected movie through use of IMDB or another site data for a richer experience
4. Use item-item association logic to give higher recommendation weight to items with stronger association with an 
existing popular item''')

The above concludes the generation of chart as per the project ask. Regarding If I had more time, what would I add ?
1. A better rating formula which will would be validated through users feedback and refined
2. Join with other datasets that can help clarify rating
3. Add images for each selected movie through use of IMDB or another site data for a richer experience
4. Use item-item association logic to give higher recommendation weight to items with stronger association with an
existing popular item